:root {
    --text-dark: #f2f2f2;
    --background-input-dark: #2c2c2c;
    --background-dark: #302e2f;
    --background-secondary-dark: #222222;
    --background: #ffffff;
    --background-secondary: #f2f2f2;
    --border-dark: #383838;
    --menu-background: #eaebef;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #F2F2F2;
    }

    h1 {
        color: rgba(0, 0, 0, 0.9);
    }

    h2 {
        color: rgba(0, 0, 0, 0.7);
    }

    p {
        color: rgba(0, 0, 0, 0.9);
    }

    .splash_screen {
        background-color: #F2F2F2;
    }

    .l_button {
        color: rgba(0, 0, 0, 0.5);
    }

    .tab_content_frame {
        background-color: #F2F2F2;
    }

    .animatable_content_box {
        background-color: #F2F2F2;
    }

    textarea {
        border-color: rgba(0, 0, 0, 0.1);
    }

    .form-control {
        background-color: #ffffff;
        color: #0d0d0d;
    }

    .form-control:focus {
        background-color: #ffffff;
        color: #0d0d0d;
    }

    .dropdown-menu {
        color: rgba(0, 0, 0, 0.9);
        background-color: var(--background);
    }

    .dropdown-item {
        color: rgba(255, 255, 255, 0.9);
    }

    .dropdown-item:focus {
        background-color: var(--menu-background);
    }

    .dropdown-item:hover {
        background-color: var(--menu-background);
    }

    .dropdown-item {
        color: rgba(0, 0, 0, 0.9);
    }

    div.loader_box {
        color: rgba(255, 255, 255, 0.9);
        background-color: #F2F2F2;
    }

    .title_bar {
        background-color: var(--background);
        border-color: #E6E6E6;
    }

    .tabs_bar {
        background-color: var(--background);
        border-color: #E6E6E6;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #303030;
    }

    h1 {
        color: rgba(255, 255, 255, 0.9);
    }

    h2 {
        color: rgba(255, 255, 255, 0.7);
    }

    p {
        color: rgba(255, 255, 255, 0.9);
    }

    hr {
        border-color: var(--border-dark);
    }

    .splash_screen {
        background-color: #303030;
    }

    .l_button {
        color: rgba(255, 255, 255, 0.5);
    }

    .tab_content_frame {
        background-color: #303030;
    }

    .animatable_content_box {
        background-color: #1c1c1c;
    }

    textarea {
        border-color: rgba(255, 255, 255, 0.1);
    }

    select {
        border-color: rgba(255, 255, 255, 0.1);
        background-color: var(--background-input-dark);
        color: var(--text-dark);
    }

    form {
        background-color: var(--background-secondary-dark);
    }

    .form-control {
        background-color: var(--background-dark);
        color: var(--text-dark);
        border-color: #606060;
    }

    .form-control:focus {
        background-color: var(--background-dark);
        color: var(--text-dark);
        border-color: transparent;
    }

    .form-control::placeholder {
        color: #797979;
    }

    .dropdown-menu {
        color: rgba(255, 255, 255, 0.9);
        background-color: var(--background-secondary-dark);
    }

    .dropdown-item {
        color: rgba(255, 255, 255, 0.9);
    }

    .dropdown-item:focus {
        color: rgba(255, 255, 255, 0.9);
        background-color: var(--background-dark);
    }

    .dropdown-item:hover {
        color: rgba(255, 255, 255, 0.9);
        background-color: var(--background-dark);
    }

    div.loader_box {
        color: rgba(255, 255, 255, 0.9);
        background-color: #303030;
    }

    .app_title span {
        color: rgba(255, 255, 255, 0.9);
    }

    .title_bar {
        border-color: var(--border-dark);
        background-color: #302e2f;
    }

    .tabs_bar {
        border-color: var(--border-dark);
    }

    #app {
        background-color: var(--background-dark);
    }
}
